<?xml version="1.0" encoding="utf-8"?>


<RelativeLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    app:layout_behavior="@string/appbar_scrolling_view_behavior"
    tools:showIn="@layout/activity_main"
    android:background="@drawable/gradient">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        android:gravity="center">
        <TextView
            style="@style/buttonTheme"
            android:text="@string/SelectLearnStyle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView1" />
        <RadioGroup
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/radioGroup">
            <RadioButton
                style="@style/buttonTheme"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true"
                android:text="@string/PolEng"
                android:id="@+id/radioButton0" />
            <RadioButton
                style="@style/buttonTheme"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/EngPol"
                android:id="@+id/radioButton1" />
        </RadioGroup>
        <Switch
            style="@style/buttonTheme"
            android:text="@string/ShowStatsAfterSession"
            android:textSize="25dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/switchStats" />
    </LinearLayout>
</RelativeLayout>
